{
    "auth": {
        "identity": {
            "methods": [
                "password"
            ],
            "password": {
                "user": {
                    "name": "{{username}",
                    "domain": {
                        "id": "{{domain_id}}"
                    },
                    "password": "{{password}}"
                }
            }
        
    },
    "scope": {
      "project": {
        "name": "{{project_name}}",
        "domain": { "id": "{{domain_id}}" }
      }
    }
  }
}