--extra-index-url https://nexus3.onap.org/repository/PyPi.staging/simple
robotframework==3.2.2
pyrsistent==0.16.1
selenium
robotframework-seleniumlibrary==5.1.0
robotframework-archivelibrary
robotframework-sshlibrary
robotframework-httplibrary
robotframework-ftplibrary
robotframework-jsonlibrary
requests>=2.20.0
robotframework-databaselibrary
robotframework-requests==0.9.3
deepdiff
dnspython
pyyaml>=4.2b1
json5
pytz
urllib3<2
robotframework-onap==11.0.0.dev19
