--extra-index-url https://nexus3.onap.org/repository/PyPi.staging/simple
robotframework==3.2.2
pyrsistent==0.16.1
# last version to work with chrome_options
# https://github.com/SeleniumHQ/selenium/commit/9f5801c82fb3be3d5850707c46c3f8176e3ccd8e
selenium==4.9.1
robotframework-seleniumlibrary
robotframework-archivelibrary
robotframework-sshlibrary
robotframework-httplibrary
robotframework-ftplibrary
robotframework-jsonlibrary
requests>=2.20.0
robotframework-databaselibrary
robotframework-requests==0.9.3
deepdiff
dnspython
pyyaml>=4.2b1
json5
pytz
urllib3<2
robotframework-onap==11.0.0.dev19
