{
     "tunnelxconn": {
         "invariantUUID": "8ac029e7-77aa-40d4-b28a-d17c02d5fd82",
         "UUID": "2ddc1b37-d7da-4aab-b645-ed7db34a5d03",
         "node_type": "org.openecomp.service.Demovcpevgmux"
     },
     "brg": {
         "invariantUUID": "ff0337b9-dbe2-4d88-bb74-18bf027ae586"
         "UUID": "1b6974f1-4aed-47f4-b962-816aa1261927",
         "node_type": "org.openecomp.service.Demovcpevbrgemu"
     }
}
