{
	"vFWSNK": {
		  "vnf_type": "53a6f526-7df5-4d96-8646 0",
		  "vf_module": "53a6f5267df54d968646..base_vfw..module-0"
	},
	"vPKG": {
		  "vnf_type": "6652ddfc-6759-47ec-9ef5 0",
		  "vf_module": "6652ddfc675947ec9ef5..base_vpkg..module-0"
	}
}

#   SDC Query
#   http://{{sdc_be_port}}//sdc2/rest/v1/catalog/services/serviceName/demoVFWCL/serviceVersion/1.0
#   componentInstances[].groupInstances[0].groupName
#   componentInstances[].name
#   groupInstances[]."groupName": "53a6f5267df54d968646..base_vfw..module-0",
#   "name": "53a6f526-7df5-4d96-8646 0",
