[{
    "scenario": "{{scenario}}",
    "testSuiteName": "{{test_suite_name}}",
    "testCaseName": "{{test_case_name}}",
    "parameters": {
        "csar": "file://{{file_name}}",
          "pnf":"{{pnf}}"
    }
  }]
