{
      "connectivity-id": "{{connectivity_id}}",
      "bandwidth-profile-name": "",
      "vpn-type": "",
      "cir": "",
      "eir": "",
      "cbs": "",
      "ebs": "",
      "color-aware": "",
      "coupling-flag": "",
      "etht-svc-name": "",
      "access-provider-id": "",
      "access-client-id": "",
      "access-topology-id": "",
      "access-node-id": "",
      "access-ltp-id": "",
      "connectivity-selflink": "",
      "cvlan": "",
      "operational-status": "",
      "resource-version": ""
}
