{
  "vpn-id": "{{vpn_id}}",
  "vpn-name": "",
  "vpn-platform": "",
  "vpn-type": "",
  "vpn-region": "",
  "customer-vpn-id": "",
  "route-distinguisher": "",
  "access-provider-id": "",
  "access-client-id": "",
  "access-topology-id": "",
  "src-access-node-id": "",
  "src-access-ltp-id": "",
  "dst-access-node-id": "",
  "dst-access-ltp-id": "",
  "operational-status": "",
  "resource-version": ""
}