{
  "artifactLabel":"{{artifactLabel}}",
  "artifactName": "{{artifactName}}",
  "artifactType": "{{artifactType}}",
  "artifactGroupType": "{{artifactGroupType}}",
  "description": "{{description}}",
  "payloadData": "{{payloadData}}"
}
