[{
		"definition": false,
		"description": "The depending service invariant uuid in order to map the allotted resource to the specific service version",
		"empty": false,
		"getInputProperty": false,
		"hidden": false,
		"immutable": false,
		"name": "providing_service_invariant_uuid",
		"password": false,
		"required": true,
		"type": "string",
		"value": {{providing_service_invariant_uuid}},
                "uniqueId": "{{uniqueId}}.providing_service_invariant_uuid"
	},
        {
		"definition": false,
		"description": "The depending service uuid in order to map the allotted resource to the specific service version",
		"empty": false,
		"getInputProperty": false,
		"hidden": false,
		"immutable": false,
		"name": "providing_service_uuid",
		"password": false,
		"required": true,
		"type": "string",
		"value": {{providing_service_uuid}},
                "uniqueId": "{{uniqueId}}.providing_service_uuid"
	},
        {
		"definition": false,
		"description": "The depending service name in order to map the allotted resource to the specific service version",
		"empty": false,
		"getInputProperty": false,
		"hidden": false,
		"immutable": false,
		"name": "providing_service_name",
		"password": false,
		"required": true,
		"type": "string",
		"value": {{providing_service_name}},
                "uniqueId": "{{uniqueId}}.providing_service_name"
	}
]