[
{
        "uniqueId": "{{uniqueId}}",
        "type": "string",
        "required": false,
        "definition": false,
        "description": "{{description}}",
        "schema": {
          "property": {
            "required": false,
            "definition": true,
            "password": false,
            "hidden": false,
            "immutable": false,
            "getInputProperty": false,
            "empty": false
          },
          "empty": false
        },
        "password": false,
        "name": "{{name}}",
        "value": "{{value}}",
        "hidden": false,
        "immutable": false,
        "parentUniqueId": "{{parentUniqueId}}",
        "schemaProperty": {
          "required": false,
          "definition": true,
          "password": false,
          "hidden": false,
          "immutable": false,
          "getInputProperty": false,
          "empty": false
        },
        "getInputProperty": false,
        "ownerId": "{{ownerId}}",
        "empty": false
      }
]