[
  {
    "defaultValue": "{{nf_function}}",
    "description": null,
    "name": "nf_function",
    "parentUniqueId": "cs0008",
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "string",
    "uniqueId": "{{nf_function_uid}}",
    "value": null,
    "definition": false,
    "getInputValues": null,
    "instanceUniqueId": null,
    "propertyId": null,
    "properties": null,
    "inputs": null,
    "ownerId": "cs0008",
    "inputPath": null
  },
  {
    "defaultValue": "{{nf_type}}",
    "description": null,
    "name": "nf_type",
    "parentUniqueId": null,
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "string",
    "uniqueId": "{{nf_type_uid}}",
    "value": null,
    "definition": false,
    "getInputValues": null,
    "instanceUniqueId": null,
    "propertyId": null,
    "properties": null,
    "inputs": null,
    "ownerId": null,
    "inputPath": null
  },
  {
    "defaultValue": "{{nf_naming_code}}",
    "description": null,
    "name": "nf_naming_code",
    "parentUniqueId": null,
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "string",
    "uniqueId": "{{nf_naming_code_uid}}",
    "value": null,
    "definition": false,
    "getInputValues": null,
    "instanceUniqueId": null,
    "propertyId": null,
    "properties": null,
    "inputs": null,
    "ownerId": null,
    "inputPath": null
  },
  {
    "defaultValue": "{{nf_role}}",
    "description": null,
    "name": "nf_role",
    "parentUniqueId": null,
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "string",
    "uniqueId": "{{nf_role_uid}}",
    "value": null,
    "definition": false,
    "getInputValues": null,
    "instanceUniqueId": null,
    "propertyId": null,
    "properties": null,
    "inputs": null,
    "ownerId": null,
    "inputPath": null
  },
  {
    "defaultValue": "{{cloud_env}}",
    "description": "Cloud environment (e.g., openstack, rackspace)",
    "name": "cloud_env",
    "parentUniqueId": null,
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "string",
    "uniqueId": "{{cloud_env_uid}}",
    "value": null,
    "definition": false,
    "getInputValues": null,
    "instanceUniqueId": null,
    "propertyId": null,
    "properties": null,
    "inputs": null,
    "ownerId": null,
    "inputPath": null
  }
]