{
	"name": "{{entitlement_pool_name}}",
	"description": "vendor entitlement pool",
	"thresholdValue": "100",
	"thresholdUnits": "Percentage",
	"time": {
		"choice": "",
		"other": ""
	},
	"startDate": "{{license_start_date}}",
	"expiryDate": "{{license_end_date}}",
	"manufacturerReferenceNumber": "111111"
}
