{
  "name": "{{software_product_name}}",
  "description": "vendor software product",
  "category": "resourceNewCategory.generic",
  "subCategory": "resourceNewCategory.generic.abstract",
  "onboardingMethod" : "NetworkPackage",
  "licensingVersion":  "{{version_id}}",
  "vendorName": "{{vendor_name}}",
  "vendorId": "{{vendor_id}}",
  "icon": "icon",
  "licensingData": {
    "licenseAgreement": "{{license_agreement_id}}",
    "featureGroups": [
      "{{feature_group_id}}"
    ]
  }
}

