[
  {
    "defaultValue": "{{nf_type}}",
    "description": null,
    "name": "nf_type",
    "parentUniqueId": null,
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "string",
    "uniqueId": "{{nf_type_uid}}",
    "value": null,
    "definition": false,
    "getInputValues": null,
    "instanceUniqueId": null,
    "propertyId": null,
    "properties": null,
    "inputs": null,
    "ownerId": null,
    "inputPath": null
  },
  {
    "defaultValue": "{{nf_role}}",
    "description": null,
    "name": "nf_role",
    "parentUniqueId": null,
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "string",
    "uniqueId": "{{nf_role_uid}}",
    "value": null,
    "definition": false,
    "getInputValues": null,
    "instanceUniqueId": null,
    "propertyId": null,
    "properties": null,
    "inputs": null,
    "ownerId": null,
    "inputPath": null
  }
]