{
  "artifacts": {},
  "toscaArtifacts": {},
  "contactId": "cs0008",
  "categories": [
    {
      "name": "Allotted Resource",
      "normalizedName": "allotted resource",
      "uniqueId": "resourceNewCategory.allotted resource",
      "subcategories": [
        {
          "name": "{{subcategory}}",
          "normalizedName": "{{subcategory}}",
          "uniqueId": "resourceNewCategory.allotted resource.{{subcategory}}",
          "icons": [
            "allotted_resource"
          ]
        }
      ]
    }
  ],
  "description": "Alloted Resource {{subcategory}}",
  "icon": "defaulticon",
  "componentInstancesProperties": {},
  "componentInstancesAttributes": {},
  "name": "{{software_product_name}}",
  "tags": [
    "{{software_product_name}}"
  ],
  "capabilities": {},
  "requirements": {},
  "deploymentArtifacts": {},
  "componentType": "RESOURCE",
  "vendorName": "{{vendor_name}}",
  "vendorRelease": "1.0",
  "componentInstances": [],
  "properties": [],
  "attributes": [],
  "groups": [],
  "resourceType": "VF"
}