[
  {
    "name": "nfc_function",
    "parentUniqueId": "{{parent_id}}",
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "string",
    "uniqueId": "{{parent_id}}.nfc_function",
    "value": "{{nfc_function}}",
    "definition": false
  },
  {
    "description": "vfc naming",
    "name": "nfc_naming",
    "parentUniqueId": "{{parent_id}}",
    "password": false,
    "required": false,
    "schema": {
      "property": {}
    },
    "type": "org.openecomp.datatypes.Naming",
    "uniqueId": "{{parent_id}}.nfc_naming",
    "value": "{\"ecomp_generated_naming\":true,\"naming_policy\":\"{{nfc_naming_policy}}\"}",
    "definition": false
  }
]