{
  "name": "{{name}}",
  "description": "Created by robot",
  "templateUuid": "{{template_uuid}}",
  "vfiName": "{{vfi_name}}",
  "serviceUuid": "{{service_uuid}}",
  "contextType": "SERVICE",
  "flowType": "TCA Hi Lo",
  "cloneVFCMT": true,
  "updateFlowType": false
}
