{
  "artifacts": {},
  "toscaArtifacts": {},
  "contactId": "cs0008",
  "categories": [
    {
      "name": "DCAE Component",
      "normalizedName": "dcaecomponent",
      "uniqueId": "resourceNewCategory.dcaecomponent",
      "subcategories": [
        {
          "name": "Microservice",
          "normalizedName": "microservice",
          "uniqueId": "resourceNewCategory.dcaecomponent.microservice",
          "icons": [
            "dcae_microservice"
          ]
        }
      ]
    }
  ],
  "description": "virtual function",
  "icon": "defaulticon",
  "componentInstancesProperties": {},
  "componentInstancesAttributes": {},
  "name": "{{resource_name}}",
  "tags": [
    "{{resource_name}}"
  ],
  "capabilities": {},
  "requirements": {},
  "deploymentArtifacts": {},
  "componentType": "RESOURCE",
  "vendorName": "{{vendor_name}}",
  "vendorRelease": "1.0",
  "componentInstances": [],
  "properties": [],
  "attributes": [],
  "groups": [],
  "resourceType": "VF"
}
