{
	"name": "{{key_group_name}}",
	"description": "vendor license key group",
	"type": "Universal",
	"thresholdValue": "100",
	"thresholdUnits": "Percentage",
	"startDate": "{{license_start_date}}",
	"expiryDate": "{{license_end_date}}",
	"manufacturerReferenceNumber": "11111"
}