{
	"input": {
		"request-information": {
			"notification-url": "onap.org",
			"order-number": "1",
			"order-version": "1",
			"request-action": "PreloadVNFRequest",
			"request-id": "robot12"
		},
		"sdnc-request-header": {
			"svc-action": "reserve",
			"svc-notification-url": "http:\/\/onap.org:8080\/adapters\/rest\/SDNCNotify",
			"svc-request-id": "robot12"
		},
		"vnf-topology-information": {
			"vnf-assignments": {
				"availability-zones": [],
				"vnf-networks": [],
				"vnf-vms": []
			},
			"vnf-parameters":
				{{vnf_parameters}}
			,
			"vnf-topology-identifier": {
				"generic-vnf-name": "{{generic_vnf_name}}",
				"generic-vnf-type": "{{generic_vnf_type}}",
				"vnf-name": "{{vf_module_name}}",
				"vnf-type": "{{vf_module_type}}",
				"service-type": "{{service_type}}"
			}
		}
	}
}