{
    "tosca_definitions_version": "tosca_simple_yaml_1_1_0",
    "topology_template": {
        "policies": [
            {
                "onap.vfirewall.tca": {
                    "type": "onap.policies.monitoring.tcagen2",
                    "type_version": "1.0.0",
                    "version": "1.0.0",
                    "metadata": {
                        "policy-id": "onap.vfirewall.tca"
                    },
                    "properties": {
                        "tca.policy": {
                            "domain": "measurementsForVfScaling",
                            "metricsPerEventName": [
                                {
                                    "eventName": "vFirewallBroadcastPackets",
                                    "controlLoopSchemaType": "VM",
                                    "policyScope": "DCAE",
                                    "policyName": "DCAE.Config_tca-hi-lo",
                                    "policyVersion": "1.0.0",
                                    "thresholds": [
                                        {
                                            "closedLoopControlName": "ControlLoop-vFirewall-{{RESOURCE_ID}}",
                                            "closedLoopEventStatus": "ONSET",
                                            "version": "1.0.2",
                                            "fieldPath": "$$.event.measurementsForVfScalingFields.vNicPerformanceArray[*].receivedTotalPacketsDelta",
                                            "thresholdValue": 300,
                                            "direction": "LESS_OR_EQUAL",
                                            "severity": "MAJOR"
                                        },
                                        {
                                            "closedLoopControlName": "ControlLoop-vFirewall-{{RESOURCE_ID}}",
                                            "closedLoopEventStatus": "ONSET",
                                            "version": "1.0.2",
                                            "fieldPath": "$$.event.measurementsForVfScalingFields.vNicPerformanceArray[*].receivedTotalPacketsDelta",
                                            "thresholdValue": 700,
                                            "direction": "GREATER_OR_EQUAL",
                                            "severity": "CRITICAL"
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                }
            }
        ]
    }
}
