{
  "policies": [
    {
      "policy-id": "onap.vfirewall.tca",
      "policy-version": 1
    },
    {
      "policy-id": "operational.modifyconfig",
      "policy-version": "${OP_POLICY_VERSION}.0.0"
    }
  ]
}
