{
  "event": {
    "commonEventHeader": {
      "version": "4.0.1",
      "vesEventListenerVersion": "7.0.1",
      "domain": "notification",
      "eventName": "Noti_RnNode-Ericsson_FileReady",
      "eventId": "FileReady_1797490e-10ae-4d48-9ea7-3d7d790b25e1",
      "lastEpochMicrosec": 8745745764578,
      "priority": "Normal",
      "reportingEntityName": "NOK6061ZW3",
      "sequence": 0,
      "sourceName": "NOK6061ZW3",
      "startEpochMicrosec": 8745745764578,
      "timeZoneOffset": "UTC+05.30"
    },
    "notificationFields": {
      "changeIdentifier": "PM_MEAS_FILES",
      "changeType": "FileReady",
      "notificationFieldsVersion": "2.0",
      "arrayOfNamedHashMap": [
        {
          "name": "{{pm_file}}",
          "hashMap": {
            "location": "https://{{https_server_host}}:443/{{pm_file}}",
            "compression": "gzip",
            "fileFormatType": "{{fileFormatType}}",
            "fileFormatVersion": "{{fileFormatVersion}}"
          }
        }
      ]
    }
  }
}