{
  "asdcResourceId": "",
  "asdcServiceId": "",
  "asdcServiceURL": "",
  "blueprintTemplate": "{{blueprintTemplate}}",
  "owner": "robot",
  "serviceIds": [],
  "serviceLocations": [],
  "typeName": "{{typeName}}",
  "typeVersion": 100,
  "vnfTypes": []
}
