{
   "requestDetails" : {
      "subscriberInfo" : {
         "globalSubscriberId" : "{{subscriber_id}}"
      },
      "requestInfo" : {
         "suppressRollback" : false,
         "productFamilyId" : "a9a77d5a-123e-4ca2-9eb9-0b015d2ee0fb",
         "requestorId" : "robot-ete",
         "instanceName" : "{{service_instance_name}}",
         "source" : "VID"
      },
      "cloudConfiguration":{  
         "lcpCloudRegionId":"{{GLOBAL_INJECTED_REGION}}",
         "tenantId":"{{GLOBAL_INJECTED_OPENSTACK_TENANT_ID}}",
         "cloudOwner":"{{cloud_owner}}"
      },
      "requestParameters" : {
         "subscriptionServiceType" : "{{subscription_service_type}}",
         "userParams" : [
            {
               "Homing_Solution":"{{homing_solution}}"
            },
            {  
               "service" : {
                  "instanceParams" : [],
                  "instanceName" : "{{service_instance_name}}",
                  "resources" : {
                     "vnfs" : {{vnfs}
                  },
                  "modelInfo":{  
         		     "modelVersion":"1.0",
         			 "modelVersionId":"{{service_model_uuid}}",
         			 "modelInvariantId":"{{service_model_invariantuuid}}",
         			 "modelName":"{{service_model_name}}",
         			 "modelType":"service"
                  }
               }
            }
         ],
         "aLaCarte" : false
      },
      "project" : {
         "projectName" : "Project-Demonstration"
      },
      "owningEntity" : {
         "owningEntityId":"{{owning_entity_id}}",
         "owningEntityName":"{{owning_entity}}"
      },
      "modelInfo" : {
         "modelVersion":"1.0",
         "modelVersionId" : "{{service_model_uuid}}",
         "modelInvariantId" : "{{service_model_invariantuuid}}",
         "modelName" : "{{service_model_name}}",
         "modelType" : "service"
      }
   }
}