{  
   "requestDetails":{  
      "subscriberInfo":{  
         "globalSubscriberId":"{{customer}}"
      },
      "requestInfo":{  
         "suppressRollback":false,
         "productFamilyId":"a9a77d5a-123e-4ca2-9eb9-0b015d2ee0fb",
         "requestorId":"adt",
         "instanceName":"{{cds_instance_name}}",
         "source":"VID"
      },
      "cloudConfiguration":{  
         "lcpCloudRegionId":"{{GLOBAL_INJECTED_REGION}}",
         "tenantId":"{{GLOBAL_INJECTED_OPENSTACK_TENANT_ID}}",
         "cloudOwner":"{{cloudOwner}}"
      },
      "requestParameters":{  
         "subscriptionServiceType":"{{subscriptionServiceType}}",
         "userParams":[  
            {  
               "Homing_Solution":"none"
            },
            {  
               "service":{  
                  "instanceParams":[  

                  ],
                  "instanceName":"{{cds_instance_name}}",
                  "resources":{  
                     "vnfs":[  
                        {  
                           "modelInfo":{  
                              "modelName":"{{resp['serviceVnfs'][0]['modelInfo']['modelName']}}",
                              "modelVersionId":"{{resp['serviceVnfs'][0]['modelInfo']['modelUuid']}}",
                              "modelInvariantUuid":"{{resp['serviceVnfs'][0]['modelInfo']['modelInvariantUuid']}}",
                              "modelVersion":"1.0",
                              "modelCustomizationId":"{{resp['serviceVnfs'][0]['modelInfo']['modelCustomizationUuid']}}",
                              "modelInstanceName":"{{resp['serviceVnfs'][0]['modelInfo']['modelInstanceName']}}"
                           },
                           "cloudConfiguration":{  
                              "lcpCloudRegionId":"{{GLOBAL_INJECTED_REGION}}",
                              "tenantId":"{{GLOBAL_INJECTED_OPENSTACK_TENANT_ID}}"
                           },
                           "platform":{  
                              "platformName":"test"
                           },
                           "lineOfBusiness":{  
                              "lineOfBusinessName":"LOB-Demonstration"
                           },
                           "productFamilyId":"a9a77d5a-123e-4ca2-9eb9-0b015d2ee0fb",
                           "instanceName":"{{resp['serviceVnfs'][0]['modelInfo']['modelInstanceName']}}",
                           "instanceParams":[  
                              {  
                                 "onap_private_net_id":"{{GLOBAL_INJECTED_NETWORK}}",
                                 "onap_private_subnet_id":"{{GLOBAL_INJECTED_OPENSTACK_PRIVATE_SUBNET_ID}}",
                                 "pub_key":"{{GLOBAL_INJECTED_PUBLIC_KEY}}",
                                 "image_name":"{{GLOBAL_INJECTED_UBUNTU_1604_IMAGE}}",
                                 "flavor_name":"{{GLOBAL_INJECTED_VM_FLAVOR}}",
                                 "vpg_flavor_name":"{{GLOBAL_INJECTED_VM_FLAVOR}}",
                                 "vlb_flavor_name":"{{GLOBAL_INJECTED_VM_FLAVOR}}",
                                 "vdns_flavor_name":"{{GLOBAL_INJECTED_VM_FLAVOR}}",
                                 "sec_group":"{{GLOBAL_INJECTED_OPENSTACK_SECURITY_GROUP}}",
                                 "install_script_version":"{{GLOBAL_INJECTED_SCRIPT_VERSION}}",
                                 "demo_artifacts_version":"{{GLOBAL_INJECTED_SCRIPT_VERSION}}",
                                 "cloud_env":"{{GLOBAL_INJECTED_CLOUD_ENV}}",
                                 "public_net_id":"{{GLOBAL_INJECTED_PUBLIC_NET_ID}}",
                                 "aic-cloud-region":"{{GLOBAL_INJECTED_REGION}}"
                              }
                           ],
                           "vfModules":[  
                              {  
                                 "modelInfo":{  
                                    "modelName":"{{resp['serviceVnfs'][0]['vfModules'][0]['modelInfo']['modelName']}}",
                                    "modelVersionId":"{{resp['serviceVnfs'][0]['vfModules'][0]['modelInfo']['modelUuid']}}",
                                    "modelInvariantUuid":"{{resp['serviceVnfs'][0]['vfModules'][0]['modelInfo']['modelInvariantUuid']}}",
                                    "modelVersion":"1",
                                    "modelCustomizationId":"{{resp['serviceVnfs'][0]['vfModules'][0]['modelInfo']['modelCustomizationUuid']}}"
                                 },
                                 "instanceName":"{{resp['serviceVnfs'][0]['vfModules'][0]['modelInfo']['modelName']}}",
                                 "instanceParams":[  
                                    {  

                                    }
                                 ]
                              },
                              {  
                                 "modelInfo":{  
                                    "modelName":"{{resp['serviceVnfs'][0]['vfModules'][1]['modelInfo']['modelName']}}",
                                    "modelVersionId":"{{resp['serviceVnfs'][0]['vfModules'][1]['modelInfo']['modelUuid']}}",
                                    "modelInvariantUuid":"{{resp['serviceVnfs'][0]['vfModules'][1]['modelInfo']['modelInvariantUuid']}}",
                                    "modelVersion":"1",
                                    "modelCustomizationId":"{{resp['serviceVnfs'][0]['vfModules'][1]['modelInfo']['modelCustomizationUuid']}}"
                                 },
                                 "instanceName":"{{resp['serviceVnfs'][0]['vfModules'][1]['modelInfo']['modelName']}}",
                                 "instanceParams":[  
                                    {  

                                    }
                                 ]
                              },
                              {  
                                 "modelInfo":{  
                                    "modelName":"{{resp['serviceVnfs'][0]['vfModules'][2]['modelInfo']['modelName']}}",
                                    "modelVersionId":"{{resp['serviceVnfs'][0]['vfModules'][2]['modelInfo']['modelUuid']}}",
                                    "modelInvariantUuid":"{{resp['serviceVnfs'][0]['vfModules'][2]['modelInfo']['modelInvariantUuid']}}",
                                    "modelVersion":"1",
                                    "modelCustomizationId":"{{resp['serviceVnfs'][0]['vfModules'][2]['modelInfo']['modelCustomizationUuid']}}"
                                 },
                                 "instanceName":"{{resp['serviceVnfs'][0]['vfModules'][2]['modelInfo']['modelName']}}",
                                 "instanceParams":[  
                                    {  

                                    }
                                 ]
                              },
                              {  
                                 "modelInfo":{  
                                    "modelName":"{{resp['serviceVnfs'][0]['vfModules'][3]['modelInfo']['modelName']}}",
                                    "modelVersionId":"{{resp['serviceVnfs'][0]['vfModules'][3]['modelInfo']['modelUuid']}}",
                                    "modelInvariantUuid":"{{resp['serviceVnfs'][0]['vfModules'][3]['modelInfo']['modelInvariantUuid']}}",
                                    "modelVersion":"1",
                                    "modelCustomizationId":"{{resp['serviceVnfs'][0]['vfModules'][3]['modelInfo']['modelCustomizationUuid']}}"
                                 },
                                 "instanceName":"{{resp['serviceVnfs'][0]['vfModules'][3]['modelInfo']['modelName']}}",
                                 "instanceParams":[  
                                    {  

                                    }
                                 ]
                              }
                           ]
                        }
                     ]
                  },
                  "modelInfo":{  
                     "modelVersion":"1.0",
                     "modelVersionId":"{{service_uuid}}",
                     "modelInvariantId":"{{service_invariantUUID}}",
                     "modelName":"{{cds_service_model}}",
                     "modelType":"service"
                  }
               }
            }
         ],
         "aLaCarte":false
      },
      "project":{  
         "projectName":"Project-Demonstration"
      },
      "owningEntity":{  
         "owningEntityId":"67f2e84c-734d-4e90-a1e4-d2ffa2e75849",
         "owningEntityName":"OE-Demonstration"
      },
      "modelInfo":{  
         "modelVersion":"1.0",
         "modelVersionId":"{{service_uuid}}",
         "modelInvariantId":"{{service_invariantUUID}}",
         "modelName":"{{cds_service_model}}",
         "modelType":"service"
      }
   }
}
