{
    "requestDetails":{
        "modelInfo":{
            "modelInvariantId": "{{service_model_invariant_uuid}}",
            "modelVersionId":"{{service_model_uuid}}",
            "modelName":"{{service_model_name}}",
            "modelType":"service",
            "modelVersion":"1.0"
        },
        "owningEntity":{
            "owningEntityId":"{{owningEntityId}}",
            "owningEntityName":"{{owningEntityName}}"
        },
        "subscriberInfo":{
            "globalSubscriberId":"{{full_customer_name}}"
        },
        "requestInfo":{
            "instanceName":"{{service_name}}",
            "productFamilyId":"{{productFamilyId}}",
            "source":"VID",
            "suppressRollback": "False",
            "requestorId":"demo"
        },
        "requestParameters":{
            "subscriptionServiceType":"{{service}}",
            "aLaCarte": "False",
            "userParams":[
                {
                    "service":{
                        "modelInfo":{
                            "modelVersionId":"{{service_model_uuid}}",
                            "modelName":"{{service_model_name}}",
                            "modelType":"service"
                        },
                        "instanceName":"{{service_name}}",
                        "instanceParams":[
                        ],
                        "resources":{
                            "pnfs":[
                                {
                                    "modelInfo":{
                                        "modelCustomizationName":"{{nf_resource_name}}",
                                        "modelCustomizationId":"{{nf_resource_uuid}}",
                                        "modelInvariantId":"{{nf_model_invariant_uuid}}",
                                        "modelVersionId":"{{nf_model_uuid}}",
                                        "modelName":"{{nf_model_name}}",
                                        "modelType":"pnf",
                                        "modelVersion":"1.0"
                                    },
                                    "platform":{
                                        "platformName":"{{platformName}}"
                                    },
                                    "lineOfBusiness":{
                                        "lineOfBusinessName":"{{lineOfBusinessName}}"
                                    },
                                    "productFamilyId":"{{productFamilyId}}",
                                    "instanceParams":[],
                                    "instanceName":"{{nf_instance_name}}"
                                }
                            ]
                        }
                    }
                },
                {
                    "Homing_Solution":"none"
                }
            ]
        }
    }
}