{
      "id" : "{{id}}",
      "serviceModelUUID" : "{{service_model_UUID}}" ,
      "action" : "createInstance",
      "description" : "Vnf api recipe to create service-instance",
      "orchestrationUri" : "{{orchestrationUri}}",
      "paramXsd" : null,
      "recipeTimeout" : 180,
      "serviceTimeoutInterim" : null,
      "created" : "2017-10-05T18:52:03.000+0000",
      "_links" : {
        "self" : {
          "href" : "http://so-catalog-db-adapter:8082/serviceRecipe/{{id}}"
        },
        "serviceRecipe" : {
          "href" : "http://so-catalog-db-adapter:8082/serviceRecipe/{{id}}"
        },
        "service" : {
          "href" : "http://so-catalog-db-adapter:8082/serviceRecipe/{{id}}/service"
        }
      }
    }