{
  "modelInfo": {
    "modelType": "vnf",
    "modelName": "${vnf_model_name}",
    "modelVersionId": "${vnf_model_version_id}",
    "modelCustomizationName": "${vnf_model_customization_name}",
    "modelCustomizationId": "${vnf_model_customization_id}"
  },
  "cloudConfiguration": {
    "lcpCloudRegionId": "${cloud_region}",
    "tenantId": "${tenant_id}"
  },
  "platform": {
    "platformName": "test"
  },
  "lineOfBusiness": {
    "lineOfBusinessName": "someValue"
  },
  "productFamilyId": "a9a77d5a-123e-4ca2-9eb9-0b015d2ee0fb",
  "instanceName": "${vnf_name}",
  "instanceParams": [],
  "vfModules": [${vf_modules}]
}
